@import "normalize.css";

:root[data-theme="light"]  {
  --primary-bg: #E7E7E7;
  --secondary-bg: #D2D2D2;
  --primary-text: #3D3D3D;
  --secondary-text: #525252;
  --primary-color: #D9822B;
  --secondary-color: #9E70F3; /* tmp */
}

:root[data-theme="dark"] {
  --primary-bg: #292929;
  --secondary-bg: #3B3B3B;
  --primary-text: #EBEBEB;
  --secondary-text: #D4D4D4;
  --primary-color: #9E70F3;
  --secondary-color: #D9822B; /* tmp */
}

* {
  transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease, fill 0.2s ease;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Space Mono', sans-serif;

  background-color: var(--primary-bg);
  color: var(--primary-text);
}

main {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1000px;
  width: clamp(85%, 85vw, 100%);
}

a {
  color: var(--primary-color);
}
