.markdown img {
  max-width: 700px;
  width: 100%;
  height: auto;
  display: block;
  margin: 1.5rem auto;
}

.markdown a {
  font-weight: 600;
  white-space: nowrap;
}

.markdown a:hover {
  background-color: var(--primary-color);
  color: var(--primary-text);
  text-decoration: none;
}
