---
import DefaultLayout from '../components/DefaultLayout.astro'
import Textbox from '../components/Textbox.astro'
import PhotoGallery from '../components/PhotoGallery.astro'
---

<DefaultLayout>
	<Textbox>
		<p>Some of my favourite photos I've taken, feel free to use as you please :)</p>
		<p>Camera: Canon EOS 1300D (2016)</p>
	</Textbox>
	<PhotoGallery />
</DefaultLayout>
