---
import DefaultLayout from '../components/DefaultLayout.astro';
import ProjectSwapper from '../components/ProjectSwapper.astro';
import Textbox from '../components/Textbox.astro';
import Links from '../components/Links.astro'
import LastUpdated from '../components/LastUpdated.astro'
---

<DefaultLayout title={"dlnrd.dev projects"}>
  <Textbox>
    <p>Here are all of my projects. Feel free to swap between grid and list views!</p>
  </Textbox>
  <ProjectSwapper />
  <Links />
  <LastUpdated />
</DefaultLayout>
