---
import '../styles/global.css'
import ThemeToggle from '../components/ThemeToggle.astro'
---

<header>
  <a href="/" class="logo">dlnrd</a>

  <nav>
    <ul id="nav-menu">
      <li><a href="/projects">[projects]</a></li>
      <li><a href="/posts">[posts]</a></li>
      <li><a href="/photos">[photos]</a></li>
      <li><ThemeToggle /></li>

    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: var(--primary-bg);
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .logo {
    font-weight: 700;
    font-size: 2rem;
    color: var(--primary-text);
    text-decoration: none;
    padding-right: 1.5rem;
  }

  nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }

  nav a {
    text-decoration: none;
    color: var(--primary-text);
    font-weight: 600;
    font-size: 1.5rem;
    transition: color 0.2s ease;
  }

  nav a:hover {
    color: var(--primary-color);
  }

    nav ul.active {
      display: flex;
    }

    .menu-toggle {
      display: block;
      cursor: pointer;
    }
  }

  .menu-toggle {
    display: none;
  }
</style>
