---
import Textbox from '../components/Textbox.astro'
---

<Textbox>
  <p>Aspiring Software Engineer based in Bristol.
  First-class BSc (Hons) Computer Science, graduated Aug '25.
  Year-long placement at Hewlett Packard Enterprise as a Storage Engineer
  Appriciates simplicity, clarity and performance</p>
</Textbox>
