---

---

<section class="social-links">
  <span>[↗]:</span>
  <a href="https://github.com/dlnrd/">Github</a>,
  <a href="https://www.linkedin.com/in/dlnrd/">LinkedIn</a>,
  <a href="mailto:dylan.leonard@hotmail.co.uk">Email</a>
</section>

<style>
  .social-links {
    margin: 0 auto;
    padding-top: 1rem;
  }

  a {
    font-weight: 600;
    white-space: nowrap;
  }

  a:hover {
    background-color: var(--primary-color);
    color: var(--primary-text);
    text-decoration: none;
</style>
