---
import { getCollection } from 'astro:content';
import ProjectCard from '../components/ProjectCard.astro';

const { limit, featured } = Astro.props || {};
let projects = await getCollection('projects');

projects = projects.filter(p => p.data.published);
if (featured && Array.isArray(featured) && featured.length > 0) {
  const map = new Map(projects.map(p => [p.slug, p]));

  projects = featured.map(id => map.get(id)).filter(Boolean);
}

else if (limit) {
  projects = projects.slice(0, limit);
}
---

<section class="projects">
  {projects.map(project => (
    <ProjectCard project={project} />
  ))}
</section>

<style>
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 0rem 2rem;
    margin: 0 auto;
  }
</style>
